<!--   Copyright (c) 2014 The Board of Trustees of The University of Alabama    *
 *     All rights reserved.													    *
 *																				*
 *     Redistribution and use in source and binary forms, with or without		*
 *     modification, are permitted provided that the following conditions		*
 *     are met:																	*
 *																				*
 *     1. Redistributions of source code must retain the above copyright		*
 *     notice, this list of conditions and the following disclaimer.			*
 *     2. Redistributions in binary form must reproduce the above copyright		*
 *     notice, this list of conditions and the following disclaimer in the		*
 *     documentation and/or other materials provided with the distribution.		*
 *     3. Neither the name of the University nor the names of the contributors	*
 *     may be used to endorse or promote products derived from this software	*
 *     without specific prior written permission.								*
 *																				*
 *     THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS		*
 *     "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT		*
 *     LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS		*
 *     FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL				*
 *     THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT,			*
 *     INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES		*
 *     (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR		*
 *      SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)		*
 *     HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT,		*
 *     STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)			*
 *     ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED		*
 *     OF THE POSSIBILITY OF SUCH DAMAGE.									  -->

@{
    ViewBag.Title = "Index";
}

@section header{
    <h2>Demo</h2>
}
<p>To get started, click on any of the links below. </p>
<div class="row">
    <div class="col-md-4">
        <h2>Warning</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        <p><a class="btn btn-warning" href="@Url.Action("WarningDemo", "Home")" role="button">View Demo »</a></p>
    </div>
    <div class="col-md-4">
        <h2>Error</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        <p><a class="btn btn-danger" href="@Url.Action("ErrorDemo", "Home")" role="button">View Demo »</a></p>
    </div>
    <div class="col-md-4">
        <h2>Success</h2>
        <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        <p><a class="btn btn-success" href="@Url.Action("SuccessDemo", "Home")" role="button">View Demo »</a></p>
    </div>
    </div>
    <div class="row">
        <div class="col-md-4">
        <h2>Info</h2>
        <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        <p><a class="btn btn-info" href="@Url.Action("InfoDemo", "Home")" role="button">View Demo »</a></p>
    </div>
    <div class="col-md-4">
        <h2>Multi Same Type</h2>
        <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        <p><a class="btn btn-default" href="@Url.Action("ErrorsDemo", "Home")" role="button">View Demo »</a></p>
    </div>
    <div class="col-md-4">
        <h2>Multi Different Type</h2>
        <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        <p><a class="btn btn-primary" href="@Url.Action("MultiDemo", "Home")" role="button">View Demo »</a></p>
    </div>
</div>

<h2>Use It</h2>
<div class="row">
    <h3 class="text-center">Installation</h3>
    <p>You can install it using Nuget: </p>
    <pre>PM > Install-Package BootstrapNotifications</pre>
    <p>Or from <a href="#">github</a></p>
</div>